<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.union_user">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity android:name=".IdeActivity"></activity>
        <activity android:name=".RincianVendor"
            android:parentActivityName=".layoutvendor"/>
        <activity android:name=".MetodePembayaran"
            android:parentActivityName=".PesananActivity"/>
        <activity android:name=".PesananActivity"
            android:parentActivityName=".layouthome"/>
        <activity android:name=".NotificationActivity"
            android:parentActivityName=".layouthome"/>
        <activity android:name=".SearchActivity"
            android:parentActivityName=".layouthome"/>
        <activity android:name=".TamuUndangan"
            android:parentActivityName=".layouthome"/>
        <activity android:name=".halamanvendor"
            android:parentActivityName=".layoutvendor"/>
        <activity android:name=".layoutvendor" />
        <activity android:name=".layouttoko" />
        <activity android:name=".layoutpengaturan"
            android:parentActivityName=".layoutakun"/>
        <activity
            android:name=".layoutlupapassword"
            android:label="LUPA PASSWORD"
            android:parentActivityName=".firstlogin" />
        <activity
            android:name=".layoutlogin"
            android:label="LOGIN"
            android:parentActivityName=".firstlogin" />
        <activity android:name=".layouthome" />
        <activity android:name=".layoutdaftar" />
        <activity android:name=".layoutakun" />
        <activity
            android:name=".firsthomelogin05"
            android:label="DATA DASAR"
            android:parentActivityName=".layouthome" />
        <activity android:name=".firsthomelogin04"
            android:label="DATA DASAR"
            android:parentActivityName=".layouthome" />
        <activity
            android:name=".firsthomelogin03"
            android:label="DATA DASAR"
            android:parentActivityName=".layouthome" />
        <activity
            android:name=".firsthomelogin02"
            android:label="DATA DASAR"
            android:parentActivityName=".layouthome" />
        <activity
            android:name=".firstloginhome01"
            android:label="DATA DASAR"
            android:parentActivityName=".layouthome" />
        <activity
            android:name=".firstloginhome"
            android:label="DATA DASAR"
            android:parentActivityName=".layouthome" />
        <activity android:name=".firstlogin"
            android:theme="@style/noAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>